body {
    background-image: url("../images/bandLove.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#top-artists {
    width: 100%;
    padding: 50px;
}

.spotify-embed {
    background: #282828;
    /* &:not(:last-of-type){
        margin-bottom: 5px;
 */
    height: 80px;
}

iframe {
    width: 100%;
    border-width: 0px;
    animation-name: fadeIn;
    animation-duration: 5s;
}

.parent {
    position: relative;
}
.searchAgain{
position: absolute;
right: 0;
width: 20%;
}

img {
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    49% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.collapsible li.active span {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
/* } */