body {
    background-color: blueviolet;
}
.spotify-embed{
    background: #282828;
    &:not(:last-of-type){
        margin-bottom: 5px;
    }

    iframe{
        display: block;
        transition: opacity 0.125s;
        .js & {
            opacity: 0;
            &.loaded {
                opacity: 1;
            }
        }
    }
}